[submodule "docker-postgis"]
	path = docker-postgis
	url = git@github.com:thiras/docker-postgis.git
[submodule "docker-geoserver"]
	path = docker-geoserver
	url = git@github.com:thiras/docker-geoserver.git
[submodule "dockercloud-pgadmin4"]
	path = dockercloud-pgadmin4
	url = git@github.com:thiras/dockercloud-pgadmin4.git
